@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container for the building layout with relative positioning */
.building-layout {
  position: relative;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  /* Add other styles like width, height, etc. for the container */
}

.pegasusClass {
  border:1px solid black;
  width: 45%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Styling for the overlay containers */
.chargerContainer {
  position: absolute;
  background-color: green; /* Set this to "transparent" so it's initially invisible */
  border: 2px solid red;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
  /* Set initial positioning and sizing for each rectangle */
}

#bay1 {
  position: absolute;
  width: 2.53%;
  height: 7.10%;
  top:44.7%;
  left:38.4%;

}

#bay2 {
  width: 2.65%;
  height: 6.7%;
  
}

#bay3 {
  position: absolute;
  width: 2.53%;
  height: 7.10%;
  top:44.7%;
  left:38.4%;

}

#bay4 {
  position: absolute;
  width: 2.53%;
  height: 7.10%;
  top:44.7%;
  left:38.4%;

}


#bay5 {
  position: absolute;
  width: 2.53%;
  height: 7.10%;
  top:44.7%;
  left:38.4%;

}

#bay6 {
  position: absolute;
  width: 2.53%;
  height: 7.10%;
  top:44.7%;
  left:38.4%;

}

#bay7 {
  position: absolute;
  width: 2.53%;
  height: 7.10%;
  top:56.7%;
  left:38.4%;

}

#bay8 {
  position: absolute;
  width: 2.53%;
  height: 7.10%;
  top:56.7%;
  left:41.6%;

}

#bay9 {
  position: absolute;
  width: 2.53%;
  height: 7.10%;
  top:56.7%;
  left:45.3%;

}

#bay10 {
  position: absolute;
  width: 2.53%;
  height: 7.10%;
  top:56.7%;
  left:48.4%;

}

#bay11 {
  position: absolute;
  width: 2.53%;
  height: 7.10%;
  top:56.4%;
  left:56.4%;

}

#bay12 {
  position: absolute;
  width: 2.53%;
  height: 7.10%;
  top:56.4%;
  left:59.5%;

}



/* Example: Styling for rectangle1 overlay in specific state */
#rectangle1.active {
  background-color: #ff0000; /* Change this color to the desired color for the "active" state */
}